<div class="container">
    <mat-form-field>
        <input matInput [matDatepicker]="startDate" placeholder="Choose a start date" [(ngModel)]="myStartDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="finalDate" placeholder="Choose a final date" [(ngModel)]="myFinalDate">
        <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
        <mat-datepicker #finalDate></mat-datepicker (selectedChanged)="onDate($event)">
      </mat-form-field>
</div>
<div> Your start date is {{myStartDate | date: 'dd/MM/yyyy'}} and your final date is {{myFinalDate | date: 'dd/MM/yyyy'}} that is a total of {{totalDays}} days</div>
<button (click)="logit()">log it</button>